.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 1fr;
}

.sidebar{
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    background-color: darkgray;
}

.sidebar li{
    list-style-type: none;
}

.header{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    background-color: darkcyan;
    display: grid;
}

.dashboard{
    background-color: gray;
    padding: 10px;
    gap: 10px;
    grid-column: 2 / 3;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}

.cards{
    height: 200px;
    background-color:lightsalmon;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.sidebar_dash{
    grid-column: 3 / 4;
    grid-row: 3 / 6;
}